rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny all
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Allow public read for summary stats
    match /app-stats/summary {
      allow get: if true;
    }

    // Allow any authenticated user to read/write to any other collection
    match /{path=**} {
      allow read, write: if request.auth != null;
    }
  }
}
